@import 'setup';
@import 'header';
@import 'homepage';
@import 'about';
@import 'tools';
@import 'portfolio';
@import 'contact';
@import 'responsive';

$maincolor: #000;
$secondcolor: salmon;

// Global Styles

body{
	margin: 0;
	padding: 0;
	font-family:'Montserrat', sans-serif;
}

.wrapper{
    max-width: 1280px;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

a{
	text-decoration: none;
	color: $maincolor;
    background: none;
    transition: color 0.5s ease;	
}

a:hover{
    color: $secondcolor; 
}

a:hover span{
    color: $secondcolor; 
}

.main-nav ul a:hover span{
	color: $secondcolor;
}

h2{
	font-weight: 500;
}

li{
	list-style-type: none;
}
