article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.main-nav {
  margin-top: 80px; }
  .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
  .main-nav li {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari 3-8 */
    transform: rotate(-90deg);
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.main-nav li span {
  display: inline-block;
  height: 0.5em;
  width: 25px;
  border-top: 3px solid #121212; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98%;
  margin: 0 auto;
  position: relative; }

/* Jump Bar */
.jump-bar ul {
  position: fixed;
  right: 0;
  top: 50%;
  padding: 5px 8px 0 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 0;
  margin-right: 2%;
  text-align: center;
  z-index: 10; }

.jump-bar li {
  list-style-type: none;
  height: 30px; }

.jump-bar li a {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.jump-bar .active a {
  color: grey;
  font-size: 10px; }

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.7; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 0.7; } }

.home-page {
  margin-bottom: 250px; }
  .home-page .arrow {
    bottom: -80px; }

.home {
  width: 42%;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); }

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px; }

.home.left {
  border: 1px solid lightgrey;
  margin-right: 35px; }

.home.right {
  background-image: url("../../public/assets/home-page-photo.jpg");
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px; }
  .home.right .barcode {
    height: 120px; }

.main-title {
  margin: 0;
  padding: 0; }

.description {
  margin-top: 10px;
  padding: 0; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.fal {
  color: black; }

svg {
  margin-left: 15px; }

.home:hover {
  border: 1px solid grey; }

.arrow {
  position: absolute;
  bottom: 30px;
  left: 49.5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 25px;
  width: 25px; }

.about-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

.about.right {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 600px;
  margin-bottom: 30px; }
  .about-title span {
    width: 30px;
    border-top: 3px solid #000;
    margin-left: 20px;
    display: block; }

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5rem; }
  .about-text p {
    text-align: left; }

.about {
  text-align: left;
  width: 45%; }

.about.left {
  margin: 0; }

.about.left img {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  width: 300px; }

.long-barcode {
  position: absolute;
  z-index: -1;
  left: -60px;
  top: 120px;
  width: 500px; }

.email-link {
  color: black;
  border-bottom: 1px solid #000;
  font-weight: 600; }

.email-link:hover {
  text-transform: uppercase;
  color: #000; }

.tools-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .tools-page h2 {
    margin-bottom: 80px;
    letter-spacing: 1px; }

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dev-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .dev-icons .devicon {
    font-size: 60px;
    color: black; }
    .dev-icons .devicon:hover {
      color: grey;
      cursor: pointer;
      -webkit-transition: color 0.5s ease;
      transition: color 0.5s ease; }

.devicon {
  width: 10%; }

.portfolio-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  margin-bottom: 100px; }
  .portfolio-page h2 {
    margin-bottom: 60px; }

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .portfolio-container .portfolio-thumb {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.portfolio-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  justify-content: center;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500; }

.portfolio-links a:first-child {
  padding-right: 20px; }

.tools-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.tools-used span {
  border: 1px solid grey;
  color: grey;
  padding: 10px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 5px 5px;
  margin: 5px 3px; }

.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 40px;
  line-height: 1.5rem;
  color: grey; }
  .more-info h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #000; }

.desktop,
.more-info {
  width: 50%; }

.collab {
  font-weight: 600; }

.contact-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contact h2 {
    margin-bottom: 40px; }

form {
  max-width: 600px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); }
  form .form-wrapper {
    margin: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2%; }

input[type="text"] {
  margin-bottom: 40px;
  padding: 10px 0 10px 10px; }

input[type="submit"] {
  text-transform: uppercase;
  border: none;
  border: 1px solid #000;
  padding: 15px 30px;
  text-align: center;
  background: none;
  color: black;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px; }
  input[type="submit"]:hover {
    -webkit-box-shadow: 10px 10px;
            box-shadow: 10px 10px;
    color: grey;
    border: 1px solid grey; }

label {
  text-transform: uppercase;
  margin-bottom: 10px; }

textarea {
  margin-bottom: 40px;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid lightgrey;
  resize: none;
  overflow-y: scroll;
  height: 100px;
  min-width: 400px; }

.footer-text {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center; }

.copyright {
  font-size: 10px;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 1px;
  padding: 0;
  padding-bottom: 10px;
  margin: 0; }

footer .social a {
  color: grey; }

@media (max-width: 1260px) {
  .jump-bar ul {
    margin-right: 1%; } }

@media (max-width: 1096px) {
  .home-page {
    margin-top: 40px; } }

@media (max-width: 940px) {
  .jump-bar ul {
    margin-right: 0.8%; }
  .devicon {
    width: 20%;
    margin-top: 30px;
    text-align: center; }
  .home-page {
    margin-bottom: 100px; }
  .about-page,
  .home-page,
  .tools-page,
  .portfolio-page,
  .contact-page {
    height: auto; }
  .portfolio-thumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .portfolio-thumb .desktop,
    .portfolio-thumb .more-info {
      width: 100%;
      text-align: left; }
  .ordered {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .more-info {
    text-align: center; }
  .tools-used {
    width: auto; }
  .about-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-page .about.right {
      width: 85%;
      margin-top: 10%; }
  .about-text {
    margin-top: 80px; }
  .portfolio-page,
  .tools-page {
    padding: 0;
    margin: 0;
    margin-top: 100px; }
  .arrow {
    display: none; }
  .contact-page {
    margin-top: 80px; } }

@media (max-width: 768px) {
  .about-text {
    font-size: 14px; }
  .wrapper {
    width: 80%; } }

@media (max-width: 768px) {
  section {
    margin-bottom: 100px;
    height: auto; }
  .wrapper {
    width: 90%; }
  .home-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .home {
    width: 100%;
    margin: 0;
    height: 500px;
    margin-top: 50px; }
  .home.left {
    margin: 0; }
  .home.right {
    margin: 0;
    margin-top: 50px; }
  .main-nav {
    margin-top: 10px;
    padding-top: 0; }
  .main-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 80px; }
  .main-nav ul li {
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari 3-8 */
    transform: rotate(360deg); }
  .portfolio-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .portfolio-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    height: auto; }
  .devicon {
    width: 33.33%;
    margin-top: 50px;
    text-align: center; }
  .about-text {
    line-height: 1.4rem; }
  .home-page {
    margin-bottom: 100px; }
  .more-info {
    padding: 0; }
  .about.left {
    min-width: 300px;
    margin: 0 auto; }
  textarea {
    min-width: 250px;
    width: 90%; }
  .portfolio-thumb {
    border-bottom: 1px solid grey;
    padding-bottom: 40px; } }

@media (max-width: 480px) {
  .dev-icons .devicon {
    font-size: 40px; }
  .devicon {
    width: 33.33%;
    margin-top: 50px;
    text-align: center; }
  section {
    padding-bottom: 100px; }
  .about-text {
    margin: 0 auto; }
  .long-barcode {
    display: none; }
  .about-text {
    margin-top: 300px; }
  .contact-page {
    margin-bottom: -100px;
    padding-bottom: 0; }
  .footer-text {
    padding-top: 150px; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #000;
  background: none;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease; }

a:hover {
  color: lightgrey; }

a:hover span {
  color: grey; }

.main-nav ul a:hover span {
  color: grey; }

h2 {
  font-weight: 500; }

li {
  list-style-type: none; }
